<div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Dashboard</h1>
      </div>

      <div class="ui-g-4 ui-md-4 ">
          <p-card title="Departamentos" styleClass="ui-card-shadow" >
              <div>Pesquisa, edição e cadastro de departamentos</div>
              <p-footer>
                  <button pButton type="button" pTooltip="Pesquisar departamentos"
                    tooltipPosition="top" label="Pesquisar" icon="fa-search"
                    routerLink="/departamentos"></button>
                  <button pButton type="button" pTooltip="Cadastrar departamentos"
                    tooltipPosition="top" label="Cadastrar" icon="fa-plus"
                    class="ui-button-success" routerLink="/departamentos/novo"></button>
              </p-footer>
          </p-card>
      </div>
      <div class="ui-g-4 ui-md-4" >
          <p-card title="Contatos" styleClass="ui-card-shadow">
              <div>Pesquisa, edição e cadastro de contatos</div>
              <p-footer>
                  <button pButton type="button" pTooltip="Pesquisar contatos"
                    tooltipPosition="top" label="Pesquisar" icon="fa-search"
                    routerLink="/contatos"></button>
                  <button pButton type="button" pTooltip="Cadastrar contatos"
                    tooltipPosition="top" label="Cadastrar" icon="fa-plus"
                    class="ui-button-success" routerLink="/contatos/novo"></button>
              </p-footer>
          </p-card>
      </div>
     
    </div>
  </div>

